<html>  
</head>
<script src="angular/angular.min.js"> </script>
<link rel="stylesheet"  href="css/style.css"> 
<link rel="stylesheet"  href="css/styleup.css">

</head>
<script> var myModule = angular.module("myApp",[])  </script>
<body ng-app="myApp"><!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Vimeo</title>
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="" name="keywords">
      <meta content="" name="description">
    
      <!-- Favicons -->
      <link href="img/logo.jpeg" rel="icon">
      <link href="img/logo.jpeg" rel="logo-icon">
    
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
    
      <!-- Bootstrap CSS File -->
      <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
      <!-- Libraries CSS Files -->
      <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <link href="lib/animate/animate.min.css" rel="stylesheet">
    
      <!-- Main Stylesheet File -->
      <link href="css/style.css" rel="stylesheet">
    
      <!-- =======================================================
        Theme Name: Regna
        Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
        Author: BootstrapMade.com
        License: https://bootstrapmade.com/license/
      ======================================================= -->
    </head>
<body ng-app="myApp">
    <!--==========================
      Header
      ============================-->
      <header id="header">
        <div class="container">
    
          <div id="logo" class="pull-left">
            <a href="#hero"><img src="/images/logo.jpeg" alt="" title="" /></img></a>
            <!-- Uncomment below if you prefer to use a text logo -->
            <!--<h1><a href="#hero">Regna</a></h1>-->
          </div>
    
          <nav id="nav-menu-container">
            <ul class="nav-menu">            
               <li> <a  href="index.html">Home</a></li> 
               <li><a href="insert.html">Insert</a></li> 
               <li><a  href="delete.html">Delete</a></li> 
               <li><a  href="search.html">Search</a></li> 
              <li><a href="/display">Display</a></li>
            </ul>
          </nav><!-- #nav-menu-container -->
        </div>
      </header><!-- #header -->
    
      <!--==========================
        Hero Section
      ============================-->
      <section id="hero">
        <div class="hero-container">
            <div class="wrapper fadeInDown">
          <div id="formContent">
            <div class="fadeIn first">
              <img src="/images/logo.jpeg" width="100px; height=100px" id="icon" alt="User Icon" /><br />
<div >
    <div>
<p style="color: #2dc997;">Enter Moviename To Update Details On</p>
    <form ng-controller='appController' ng-submit="send()">
      <!--send() function from the controller is called on form submission -->
		<label for="moviename" >  </label>
            <input type="text" id="moviename" placeholder="Movie Name" ng-model="data.moviename" /> <br /><br />
<label><p style="color: #2dc997;">Enter New Details</p></label>
<label for="ActorName"></label>
                <input class="fadeIn second" type="text" id="actorname" placeholder="Actor Name" ng-model="data.actorname" /> <br /><br/>
<label for="DirName"></label>
                <input class="fadeIn second" type="text" id="dirname" placeholder="Director Name" ng-model="data.dirname" /> <br /><br/>
<label for="RelDate"></label>
                <input class="fadeIn second" type="text" id="date" placeholder="Release Date" ng-model="data.date" /> <br /><br/>
<label for="Genre"></label>
                <input class="fadeIn second" type="text" id="genre" placeholder="Genre" ng-model="data.genre" /> <br /><br/>
<label for="Review"></label>
                <input class="fadeIn second" type="text" id="review" placeholder="Review" ng-model="data.review" /> <br /><br/>
<label for="Rating"></label>
                <input class="fadeIn third" type="text" id="rating"  placeholder="Rating"  ng-model="data.rating" /> <br /><br />        
        <input type="submit" value="Submit" ng-click="Submit">
       <div><pre  style="color: #2dc997;">{{response.data}}</pre></div>
       <div>
<a href="/display">Display</a>
</div>
    </form>
 </br></br>
</div>
</div>
     <script>
	 myModule.controller ("appController",
        function appController($scope, $http) {
            /*$http directive is used to communicate to the server */
            $scope.data = {}
            $scope.response = {}
		
            $scope.send = function () {
                /*executed when submit is clicked*/          
				//console.log($scope.data.compname);
                var posting = $http({
			/*posting to /process_get  */
                    method: 'GET',
                    url: '/update',
                    params: $scope.data,
			/*posting to /process_post*/
                    //method: 'POST',
                    //url: '/process_post',
                    //data: $scope.data,
                    
                }).then (function (response) {
                    /*executed when server responds back*/
                   // console.log(response);
                    $scope.response.data = response.data;
                },function (error){
					//console.log(error);
			});
            }
        });
    </script>
    <main id="main">
      <!-- JavaScript Libraries -->
      <script src="lib/jquery/jquery.min.js"></script>
      <script src="lib/jquery/jquery-migrate.min.js"></script>
      <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="lib/easing/easing.min.js"></script>
      <script src="lib/wow/wow.min.js"></script>
      <script src="lib/waypoints/waypoints.min.js"></script>
      <script src="lib/counterup/counterup.min.js"></script>
      <script src="lib/superfish/hoverIntent.js"></script>
      <script src="lib/superfish/superfish.min.js"></script>
    
      <!-- Contact Form JavaScript File -->
      <script src="contactform/contactform.js"></script>
    
      <!-- Template Main Javascript File -->
      <script src="js/main.js"></script>
    
</body>
</html>
